extends layout 

block content 
  h1 #{developer.name}  

  if games_by_developer.length > 0
    p Games by this developer:

  ul 
    each game in games_by_developer
      li  
        img(src=game.image_url)
        a(href=game.url) #{game.name} 
        span - #{game.description}

    else 
      p This developer has no games

  hr
  p
    a(href=developer.url+'/delete') Delete Developer
  p
    a(href=developer.url+'/update') Update Developer