extends layout 

block content 
  h1 #{genre.name}

  h2 #{genre.description}

  if games_by_genre.length > 0
    p Games of this genre:

  ul 
    each game in games_by_genre
      li
        img(src=game.image_url)
        a(href=game.url) #{game.name} 
        span - #{game.description}

    else 
      p This genre has no games

  hr
  p
    a(href=genre.url+'/delete') Delete genre
  p
    a(href=genre.url+'/update') Update genre